# /etc/systemd/system/odometer@.service 
#
# To start up two instances
# sudo systemctl start odometer@{1..2}
#
# To enable two instances
# sudo systemctl enable odometer@{1..2}
# 
[Unit]
Description=Odometer Service
#Requires=odometer.socket
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/odometer/latest/run-webapp.sh --port=808%i
Restart=on-abnormal
RestartSec=1
#StandardInput=socket
StandardError=journal
StartLimitIntervalSec=0
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target